<!doctype html>
<html ng-app="restify">
    <head>
        <link rel="stylesheet" type="text/css" href="../static/js/angularJs/static/css/libs/bootstrap.min.css" />

    </head>
    <body ng-app="testingApp">
        <div class = "container" ng-controller="testingAuthRulesControllers">

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">
                    Example block-level help text here.
                </p>
            </div>
            <button type="submit" class="btn btn-default">
                Submit
            </button>

        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-animate.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-route.min.js"></script>
        <script type="text/javascript" src="../static/js/angularJs/static/js/apps.js"></script>
        <script type="text/javascript" src="../static/js/angularJs/static/js/libs/bootstrap.min.js"></script>
    </body>
</html>
