<html>

	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"
  		href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" type="text/css">
  	
  	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.12.0/build/tabview/assets/skins/night/tabview.css">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.12.0/build/datatable/assets/skins/night/datatable.css">
    
	</head>
	<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>

        <script type="text/javascript">

            YUI().use('autocomplete', 'autocomplete-highlighters', function (Y) {

            // Add the yui3-skin-sam class to the body so the default
            // AutoComplete widget skin will be applied.
              Y.one('body').addClass('yui3-skin-sam');

              // The following examples demonstrate some of the different
              // result sources AutoComplete supports. You only need to
              // pick one, you don't need them all. Assume the '#ac-input'
              // element id used in this example refers to an <input>
              // element on the page.

              // Array source. Replace the example array with any array.
              Y.one('#ac-input').plug(Y.Plugin.AutoComplete, {
                resultHighlighter: 'phraseMatch',
                source: ['foo', 'bar', 'baz']
              });

              // YQL source. Leave the {query} placeholder as is; AutoComplete
              // will replace it automatically.
              Y.one('#ac-input').plug(Y.Plugin.AutoComplete, {
                resultHighlighter: 'phraseMatch',
                source: 'select * from search.suggest where query="{query}"'
              });

              // JSONP URL source. Leave the {query} and {callback} placeholders
              // as is; AutoComplete will replace them automatically.
              Y.one('#ac-input').plug(Y.Plugin.AutoComplete, {
                resultHighlighter: 'phraseMatch',
                source: 'http://example.com/search.jsonp?q={query}&callback={callback}'
              });

              // XHR URL source (no callback). Leave the {query} placeholder
              // as is; AutoComplete will replace it automatically.
              Y.one('#ac-input').plug(Y.Plugin.AutoComplete, {
                resultHighlighter: 'phraseMatch',
                source: 'http://example.com/search.json?q={query}'
              });

            });
        
        
        </script>

	<body class="yui3-skin-sam">
		
		<div class="container">

			<div class="row">
				<div class="offset3 span4">
				 	 		<input id="ac-input"></input>
			  	</div>
			</div>  	
		</div>
		
			
	</body>

</html>