<html>
    <head>
        <link href="./../static/css/testCss.less" rel="stylesheet"/>
    </head>
    
    <body>
        <div align="center">
            <p> On these we testing 3 properties of css </p>
            <p> 1  > means That means the selector div > p.some_class 
                only selects paragraphs of .some_class that sit directly 
                inside a div, not paragraphs that are nested further within.</p>
            <p> 2  space insize eg. .classA .ClassB all childs are included  </p>
            <p> 3  without space .classA.ClassB both call should be there</p>    
        </div>
        <div>
             
            
        </div>
        
        
    </body>
</html>
.class > h4 {
    
}
