<html>

	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet"
  		href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" type="text/css">


	</head>
	<body>
		
		<div class="container">

		</div>
		<script src="http://yui.yahooapis.com/3.2.0/build/yui/yui-min.js"></script>  
		<script>  
		
		YUI().use('node', 'event', function (Y) {
   			 
   			
   			var button = Y.one("#efficiency_button");
   			
			button.on('click', function (e) {
			    
			    
			});
		});
		</script> 
	
	</body>

</html>